<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Perfidix Bench"
            icon="icons/icon.jpg"
            helpContextId=""
            class="org.perfidix.perclipse.launcher.PerfidixLaunchShortcut"
            modes="run, debug"
            id="org.perfidix.perclipseShortcut">
         <contextualLaunch>
            <enablement>
               <!--<with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               		<iterate>
                 		<or>
                 			<and>
                 				<test property="org.eclipse.jdt.launching.isContainer"/>
                 			</and>
                            <test property="org.eclipse.jdt.launching.hasMethodWithAnnotation" args="Bench, public"/>
                            <test property="org.eclipse.jdt.launching.hasMethodWithAnnotation" args="Bench, public final"/>
                 		</or>
               		</iterate>
               </with>-->
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>
</plugin>
