<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	<launchConfigurationTabGroup
        	type="org.perfidix.configureBench"
	        class="org.perfidix.perclipse.view.PerclipseTabGroup"
    	    id="org.perfidix.lauchConfigurationTabGroup">
	    </launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
    	    icon="icons/time.png"
	        configTypeID="org.perfidix.configureBench"
        	id="org.perfidix.launchConfigurationTypeImage">
    	</launchConfigurationTypeImage>
	</extension>
  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Perfidix Bench"
            icon="icons/time.png"
            helpContextId=""
            class="org.perfidix.perclipse.launcher.PerfidixLaunchShortcut"
            modes="run, debug"
            id="org.perfidix.perclipseShortcut">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               		<iterate>
	                 		<or>
		                 		<and>
	                 				<test property="org.eclipse.jdt.launching.isContainer"/>
	                 				<or>
		                 				<test property="org.eclipse.jdt.launching.buildpathReference" args="perfidix"/>
 		                 				<test property="org.eclipse.jdt.launching.buildpathReference" args="Perfidix"/>
	                 				</or>
	                 			</and>
	                            <test property="org.eclipse.jdt.launching.hasMethodWithAnnotation" args="Bench, public"/>
	                            <test property="org.eclipse.jdt.launching.hasMethodWithAnnotation" args="Bench, public final"/>
	                            <test property="org.eclipse.jdt.launching.hasTypeWithAnnotation" args="BenchClass, public"/>                            
	                            <test property="org.eclipse.jdt.launching.hasTypeWithAnnotation" args="BenchClass, public final"/>                            
	                 		</or>

               		</iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Perfidix Bench"
            delegate="org.perfidix.perclipse.launcher.PerfidixLaunchConfiguration"
            modes="run, debug"
            id="org.perfidix.configureBench">
         <fileExtension
               default="false"
               extension="java">
         </fileExtension>
         <fileExtension
               default="false"
               extension="class">
         </fileExtension>
      </launchConfigurationType>
   </extension>
</plugin>
